<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="a33f6daf-df07-4573-9485-165cabe26747" Version="1.0.0.0" Publisher="CN=Caio Proiete" />
  <Properties>
    <DisplayName>JsDebugSymbolsDemo</DisplayName>
    <PublisherDisplayName>Caio Proiete</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="JsDebugSymbolsDemo" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="JsDebugSymbolsDemo App" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>